<mat-drawer-container class="example-container" style="height: calc(100vh - 64px)">
  <mat-drawer #drawer mode="side" position="end" style="width: 300px">
    <div *ngIf="selectedProduct">
      <h1>{{selectedProduct.name}}</h1>
      <h3>{{selectedProduct.price}}</h3>

      <button mat-icon-button (click)="addToCart(selectedProduct)">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div style="padding: 15px">
      <app-viewer-products-item *ngFor="let p of products" [product]="p" (selecteProductEvent)="selectProduct($event)"></app-viewer-products-item>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
